<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>opengest</display-name>
	<context-param>
		<param-name>i18n.messages</param-name>
		<param-value>en_US</param-value>
	</context-param>
	
	<!--  accessibile in ogni servlet sanno leggere queste informazioni  -->
	<context-param>
	<!--  la classe attivata per gestire le traduzioni -->
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		
		<param-value>i18n.messages</param-value>
	</context-param>
	<servlet>
		<description>Servlet per il caricamento delle configurazioni iniziali</description>
		<display-name>ServiceLoaderServlet</display-name>
		<servlet-name>ServiceLoaderServlet</servlet-name>
		<servlet-class>com.webapp.servlet.core.ServiceLoaderServlet</servlet-class>
		<init-param>
			<description>Driver per la connessione alla base dati</description>
			<param-name>DATABASE_DRIVER</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<description>URL per la connessione alla base dati</description>
			<param-name>DATABASE_URL</param-name>
			<param-value>jdbc:mysql://localhost:3306/opengest?useSSL=false&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
		</init-param>
		<init-param>
			<description>USERNAME per la connessione alla base dati</description>
			<param-name>DATABASE_USERNAME</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<description>PASSWORD per la connessione alla base dati</description>
			<param-name>DATABASE_PASSWORD</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<description>PU per JPA</description>
			<param-name>JPA_PRESISTENCE_UNIT</param-name>
			<param-value>firstWebPU</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>Servlet per il login applicativo</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.webapp.servlet.login.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet per la gestione dei menu</description>
		<display-name>MenuServlet</display-name>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>com.webapp.servlet.navigation.MenuServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet per la lista degli utenti</description>
		<display-name>UserListServlet</display-name>
		<servlet-name>UserListServlet</servlet-name>
		<servlet-class>com.webapp.servlet.users.UserListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet per la gestione del singolo utente</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.webapp.servlet.users.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/usersMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/customersMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/users/delete/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/users/createinit/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/users/create/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserListServlet</servlet-name>
		<url-pattern>/users/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/users/update/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/users/updateinit/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Servlet per la lista dei clienti</description>
		<display-name>CustomerListServlet</display-name>
		<servlet-name>CustomerListServlet</servlet-name>
		<servlet-class>com.webapp.servlet.customers.CustomerListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet per la gestione del singolo cliente</description>
		<display-name>CustomerServlet</display-name>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>com.webapp.servlet.customers.CustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerListServlet</servlet-name>
		<url-pattern>/customers/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/customers/delete/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/customers/update/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/customers/updateinit/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/customers/createinit/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/customers/create/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.webapp.servlet.filters.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
	        <session-timeout>60</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>/WEB-INF/pages/login/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>